.App {
  text-align: center;
  margin: 20px;
  color: rgb(74, 26, 55);
}

form {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(235, 10, 149);
  margin-bottom: 10px;
  padding: 10px;
}

.completed {
  text-decoration: line-through;
}

button {
  margin-right: 5px;
  cursor: pointer;
}

/* Button Colors */
button.add-task {
  background-color: rgb(223, 15, 182);
  color: white;
}

button.complete-task {
  background-color: rgb(113, 247, 113);
  color: black;
}

button.edit-task {
  background-color: rgb(252, 205, 120);
  color: black;
}

button.delete-task {
  background-color: rgb(245, 97, 97);
  color: black;
}